<!DOCTYPE html>
<html lang="de">
    <head>
        <title>&#65279;</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" sizes="310x310" href="">
        <link rel="stylesheet" href="./Header.styles.css">
    </head>
    <body>
        <header>
            <div class="container">
                <a href="#" class="logo">BoulderDash</a>
                <a href="#" class="login">Login</a>
                <a href="#" class="registrieren">Registrieren</a>
            </div>
        </header>
    </body>
</html>
